NODE_ENV=development
APP_NAME=USERBLOG
PORT=8000
CLIENT_URL=http://localhost:3000
DATABASE_CLOUD='Your MongoDB Atlas Connection string only'
# DATABASE_LOCAL='mongodb://localhost:27017/blogapp'
JWT_SECRET='11111234567890ABCDEFG'
TOKEN_EXPIRE='1d'
