/* next-css
   static css
*/
#nprogress .bar {
    height: 10px !important;
}

/* react-quill */
.ql-editor {
    min-height: 300px;
}

/* single blog */
.featured-image {
    object-fit: cover;
    max-height: 500px;
}